<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
 
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdvisorServlet</servlet-name>
    <servlet-class>servlet.AdvisorServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>SlideServlet</servlet-name>
    <servlet-class>servlet.SlideServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>servlet.ReviewServlet</servlet-class>
  </servlet> 

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdvisorServlet</servlet-name>
    <url-pattern>/advisor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SlideServlet</servlet-name>
    <url-pattern>/slide</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/review</url-pattern>
  </servlet-mapping>
 
</web-app>